*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
  body{
    padding: 0 10px;
    height: 115vh;
    background-image: url(a.png);
    background-size: cover;
  }
  .container{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
  }
  .title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom: 5px solid;
    border-image: linear-gradient(130deg , #005bea , #00c6fb);
    border-image-slice: 1;
  }
  
  .form{
    margin-top: 5%;
    width: 100%;
  }
  
 .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  label{
    width: 200px;
    color: black;
    margin-right: 10px;
    font-size: 17px;
  }
  
 .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
 
 .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
 select{
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
 .input:focus,
 select:focus{
    border: 2px solid #00c6fb;
  }
  
 .agreed{
     font-size: 13px;
     color: black;
  }
 .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
 .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #00c6fb;
    display: block;
    position: relative;
  }
  .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    
  }
  input[type="checkbox"]:checked ~ .checkmark{
    background: #00c6fb;
  }
  
 input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
 .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 16px; 
    border: 0px;
    background:  #005bea;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    transition: all 0.2s;
  }
  
 .btn:hover{
    background-color: #00c6fb;

  }

  .btn:active{
      opacity: 30%;
  }

  .sign-in{
    text-align: center;
    margin-top: 60px;
  }

  a{
    color: #00c6fb;
  }

  a:focus {
    opacity: 30%;
  }
